body{
    margin: 0;
    background-color: black;

}

.logo{
    width: 60px;
    height: 60px;
    margin-left: 20px;
}

.nav{
    width: 100%;
    background-color: black;
    border-bottom: solid gold
}

.title{
    color: red;
    margin-left: 20px;
    font-size: 50px;

}

.link{

    font-size: 30px;
    text-decoration: none;
    color: goldenrod;
}

.kick{
    width: 500px;
    height: 350px;

    margin-left: 50px;
    margin-top: 30px;
}

